<ng4-loading-spinner></ng4-loading-spinner>

<div class="container" *ngIf="this.loggedUserID < 0">
  <h4>You are not logged in!!!</h4>
</div>

<div *ngIf="(this.loggedUserID > -1)">
  <div class="container table-responsive">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Discribition</th>
          <th scope="col">Status</th>
          <div class="invisible">
            <th scope="col"></th>
          </div>
        </tr>
      </thead>
      <tbody>
      <tr class="services"
          *ngFor="let service of allServices; let i = index">
        <td>{{service.name}}</td>
        <td>{{service.description}}</td>
        <td>
          <h4>
            {{getServiceStatus(service)}}
          </h4>
        </td>
        <td *ngIf=toShowSubscribeButton(getServiceStatus(service))>
          <button type="button" class="btn btn-warning btn"
                  (click)="showVariantsToFollowModal(i); setServiceToSubscribe(service)">
            Receive
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #variantsToFollowTemplate>

<br><br><br><br><br>
      <!-- Modal content-->
        <div class="modal-header">
          <button type="button" class="close" (click)="modalRef.hide()"></button>
          <h4 class="modal-title">Subscribition variants</h4>
        </div>
        <div class="modal-body">

          <div class="table-responsive">

            <table id="ServiceVariantsTable" class="table table-bordered">
              <thead class="thead-dark">
              <tr>
                <th scope="col">Period(days)</th>
                <th scope="col">Price/period</th>
                <div class="invisible">
                  <th scope="col"></th>
                </div>
              </tr>
              </thead>
              <tbody>
                <tr class="subVariants"
                  *ngFor="let subVariant of subVariants; let i = index">
                <td>{{subVariant.period}}</td>
                <td>{{serviceToFollow.basePrice*(i+1)}} tokens</td>
                <td>
                  <button type="button" class="btn btn-success btn-sm"
                          (click)="showAcceptFollowModal(i+1, subVariant.period)">
                    Subscribe
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>




</ng-template>

<ng-template #acceptFollowTemplate>


      <br><br><br><br><br><br><br><br><br>
      <!-- Modal content-->

        <div class="modal-header">
          <button type="button" class="close" (click)="modalRef.hide()"></button>
          <h4 class="modal-title">Are you sure?</h4>
        </div>
        <div class="modal-body">
          <button type="button" class="btn btn-primary"(click)="subscribeOperation(); modalRef.hide()">Yes</button>
          <button type="button" class="btn btn-danger"(click)="modalRef.hide()">No</button>
        </div>
        <div class="modal-footer">
        </div>

</ng-template>

<ng-template #successfulOperation>


  <br><br><br><br><br><br><br><br><br>
  <!-- Modal content-->

  <div class="modal-header">
    <button type="button" class="close" (click)="modalRef.hide()"></button>
    <h4 class="modal-title">Operation successful completed!!!</h4>
  </div>
  <div class="modal-body">
    <button type="button" class="btn btn-primary"(click)="modalRef.hide(); refreshWindow()">Ok</button>
  </div>
  <div class="modal-footer">
  </div>

</ng-template>

<ng-template #badOperation>


  <br><br><br><br><br><br><br><br><br>
  <!-- Modal content-->

  <div class="modal-header">
    <button type="button" class="close" (click)="modalRef.hide()"></button>
    <h4 class="modal-title">Oops, something wrong!</h4>
  </div>
  <div class="modal-body">
    <button type="button" class="btn btn-primary"(click)="modalRef.hide()">Ok</button>
  </div>
  <div class="modal-footer">
  </div>

</ng-template>
