<alert type="success" style="position: absolute; bottom: 0; right: 0"
  *ngIf="isShowNotification"
>
  {{notificationMessage}}
</alert>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MAXIMUS-CS</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li [ngClass]="{active: isMyServicesPageActive()}" (click)="setMyServicesPageActive()"><a routerLink="/myProfile">My profile</a></li>
        <li [ngClass]="{active: isCataloguePageActive()}" (click)="setCataloguePageActive()"><a routerLink="/myServices">My services</a></li>
        <li [ngClass]="{active: isMyProfilePageActive()}" (click)="setMyProfilePageActive()"><a routerLink="/serviceCatalogue">Service catalogue</a></li>
        <li [ngClass]="{active: isHomePageActive()}" (click)="setHomePageActive()"><a routerLink="/users">For Admin</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/signUp"><span class="glyphicon glyphicon-userAccount"></span> Sign Up</a></li>
        <li><a routerLink="/logIn"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
