<ng4-loading-spinner></ng4-loading-spinner>

<style>
  hr {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
  }
  table {
    width: 100%;
  }
  thead th {
    height: 10px;

    /*text-align: left;*/
  }

  .userServicesBody {
    height: 230px;
    overflow-y: auto;
  }


</style>

<div *ngIf="isAdmin">
  <p></p>
  <div class="container">
    <p><em>User Manage:</em></p>
    <input type="search" class="form-control"
           id="UserLoginInput" [(ngModel)]="searchText" placeholder="Search users by login..."
           (blur)="onBlurSearchForm()" (focus)="onFocusSearchForm()">
    <ul *ngIf="isVisibleUsers == true">
      <li class="list-group-item" *ngFor="let userAccount of users | filter: searchText; let i = index"
          (mousedown)="showUserManageModal(userAccount)">
        {{userAccount.login}}
      </li>
    </ul>
  </div>

  <br>

  <hr>

  <div class="container">
    <p><em>Service Manage:</em></p>
    <button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#AddServiceModel">
      Add service
    </button>
  </div>

  <br>

  <div class="container table-responsive">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
        <tr class="services"
            *ngFor="let service of services; let i = index">
          <td>{{service.name}}</td>
          <td>{{service.description}}</td>
          <td>
            <button type="button" class="btn btn-danger btn-md" (click)="deleteService(service.id)">
              Delete service
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container" *ngIf="!isAdmin">
  <h4>You are not admin!!!</h4>
</div>

<ng-template #userManageTemplate>
  <p></p><br><p></p><p></p><p><p>
  <div class="modal-header">
    <h4 class="modal-title pull-left">User manage</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
        <br><br>
        <h4>Login: <span class="label label-info">{{selectedUser.login}}</span></h4><br>
        <h4>Email: <span class="label label-info">{{selectedUser.email}}</span></h4><br>
        <h4>Tokens: <span class="label label-info">{{selectedUser.tokens}}</span></h4><br>
        <h4>Status: <span class="label label-danger">{{selectedUser.status}}</span></h4>
        <br>
          <button type="submit" class="btn btn-warning btn-sm" data-toggle="modal"
                  data-target="#AddTokens" (click)="showEditUserTokensModal()">
            Add tokens to userAccount
          </button>
          <button class="btn btn-danger btn-sm" (click)="showAcceptBanUserTemplate()">Ban this user</button>
          <button class="btn btn-primary btn-sm" (click)="showAcceptUnbanUserTemplate()">Unban this user</button>
    </div>
    <p></p><br>
    <p></p><p></p><p><p><p><p>
    <div class="table-responsive">

      <table id="ServiceVariantsTable" class="table table-fixed">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Period</th>
          <th scope="col">Status</th>
          <div class="invisible">
            <th scope="col"></th>
          </div>
          <div class="invisible">
            <th scope="col"></th>
          </div>
        </tr>
        </thead>
        <tbody class="userServicesBody">
        <tr class="userServices" *ngFor="let service of selectedUser.userServices; let i = index">
          <td>{{service.name}}</td>
          <td>{{service.subPeriod}}</td>
          <td>
            <h4 *ngIf="service.status === 1">
									<span class="label label-success">
										active
									</span>
            </h4>
            <h4 *ngIf="service.status === 2">
									<span class="label label-danger">
										banned
									</span>
            </h4>
          </td>
          <td>
            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#AcceptServiceBanModel"
                    (click)="showAcceptBanUserServiceTemplate(); setEditedUserService(service)">
              Ban service
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#AcceptServiceUnbanModel"
                    (click)="showAcceptUnbanUserServiceTemplate(); setEditedUserService(service)">
              Unban service
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>


<div id="AddServiceModel" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Please, fill info</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="serviceName">Name:</label>
          <input type="text" class="form-control" id="serviceName" [(ngModel)]="serviceName">
          <label for="subPeriod">Base price (for 1 month):</label>
          <input type="number" class="form-control" id="subPeriod" [(ngModel)]="subPeriod">
          <label for="comment">Discribition:</label>
          <textarea class="form-control" rows="5" id="comment" [(ngModel)]="describition"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"  data-dismiss="modal" (click)="createNewService(serviceName, subPeriod, describition)">
          Create subscribition
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>

  </div>
</div>

<ng-template #acceptBanUserTemplate>

  <div class="modal-header">
    <button type="button" class="close" (click)="modalRef.hide()"></button>
    <h4 class="modal-title">Are you sure?</h4>
  </div>
  <div class="modal-body">
    <button type="button" class="btn btn-primary"(click)="userBanAction(); modalRef.hide()">Yes</button>
    <button type="button" class="btn btn-danger"(click)="modalRef.hide()">No</button>
  </div>

</ng-template>

<ng-template #acceptUnbanUserTemplate>



  <div class="modal-header">
    <button type="button" class="close" (click)="modalRef.hide()"></button>
    <h4 class="modal-title">Are you sure?</h4>
  </div>
  <div class="modal-body">
    <button type="button" class="btn btn-primary"(click)="userUnbanAction(); modalRef.hide()">Yes</button>
    <button type="button" class="btn btn-danger"(click)="modalRef.hide()">No</button>
  </div>

</ng-template>

<ng-template #acceptBanUserServiceTemplate>

  <div class="modal-header">
    <button type="button" class="close" (click)="modalRef.hide()"></button>
    <h4 class="modal-title">Are you sure?</h4>
  </div>
  <div class="modal-body">
    <button type="button" class="btn btn-primary"(click)="userServiceBanAction(); modalRef.hide()">Yes</button>
    <button type="button" class="btn btn-danger"(click)="modalRef.hide()">No</button>
  </div>

</ng-template>

<ng-template #acceptUnbanUserServiceTemplate>

  <div class="modal-header">
    <button type="button" class="close" (click)="modalRef.hide()"></button>
    <h4 class="modal-title">Are you sure?</h4>
  </div>
  <div class="modal-body">
    <button type="button" class="btn btn-primary"(click)="userServiceUnBanAction(); modalRef.hide()">Yes</button>
    <button type="button" class="btn btn-danger"(click)="modalRef.hide()">No</button>
  </div>

</ng-template>

<ng-template #editTokensTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Please, set tokens number</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input
      [(ngModel)]="currentUserTokens">
    <button type="submit" class="btn btn-primary btn-sm" (click)="setMyTokens()">Submit</button>
  </div>
</ng-template>
