<ng4-loading-spinner></ng4-loading-spinner>
<div class="container">
  <div class="form-group">
    <label for="loginInput">Login:</label>
    <input type="text" class="form-control" id="loginInput" [(ngModel)]="login">
    <label for="emailInput">Email:</label>
    <input type="text" class="form-control" id="emailInput" [(ngModel)]="email">
    <label for="passwordInput">Password:</label>
    <input type="text" class="form-control" id="passwordInput" [(ngModel)]="password">
  </div>
    <!-- как подождать завершения регистрации-->
  <button type="button" class="btn btn-success btn-md" (click)="createUser()">
    Subscribe!
  </button>
</div>
