<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
          <label for="login">Your login:</label>
          <input type="email" class="form-control" id="login" [(ngModel)]="login" maxlength="100">
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" [(ngModel)]="password" maxlength="100">
        </div>
        <button type="submit" class="btn btn-primary" (click)="signIn(login, password)">
          Sign in
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #userBannedTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">You are banned!!!</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <button type="submit" class="btn btn-primary btn-sm" (click)="modalRef.hide()">Ok</button>
  </div>
</ng-template>

<ng-template #unknownUserTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Invalid login or password</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <button type="submit" class="btn btn-primary btn-sm" (click)="modalRef.hide()">Ok</button>
  </div>
</ng-template>
