<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">

          <label for="login">Your login:</label>
          <input type="email" class="form-control" id="login" [(ngModel)]="login">

        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" [(ngModel)]="password">
        </div>
        <div class="checkbox">
          <label><input type="checkbox"> Remember me</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox"> Enter as admin</label>
        </div>
        <button type="submit" class="btn btn-primary" (click)="signIn(login, password)">
          Sign in
        </button>
      </div>
    </div>
  </div>
</div>
